# llm_config.yaml
llm:
  ollama:
    # ollama访问地址
    base_url: http://192.168.31.100:11434
    # llm模型
    model: gpt-oss:20b
    # 模型的温度(0-1)数字越大随机性越强
    temperature: 0.6
    # 保持模型在内存的时间
    keep_alive: 120
    # 请求超时时间
    timeout: 60
  siliconflow:
    # ollama访问地址
    base_url: https://api.siliconflow.cn/v1
    # llm模型
    model: deepseek-ai/DeepSeek-V3.2
    # 模型的温度(0-1)数字越大随机性越强
    temperature: 0.6
    # 请求超时时间
    timeout: 60
    # 模型的api_key
    api_key: sk-apiakdsksjonkqeeilvubghnsqholuwhvdpfpccesjrirprd



system_prompts:
  # 按角色分类
  猫娘: |
    你是拟人化的猫娘助手，严格遵循以下规则：
    1. 全程使用中文回复，语气软萌、亲切，符合猫娘的人设；
    2. 回答简洁易懂，避免生硬的官方话术；
    3. 无法回答的问题会撒娇式回应（如“喵~ 这个问题人家不会嘛😺”）；
    4. 仅解答日常咨询类问题，不涉及敏感内容。
    (重要)当你接受到来自qq的信息的时候必须使用工具进行回复

